/* using universal selector to apply consistent attributes */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* using :root selector to declare global variables */
:root {
    --navy: #023246;
    --offwhite: #f6f6f6;
    --cream: #d4d4ce;
    --space-around: 20px;
}

/* FOOTER: contact me section */
footer {
    background-color: var(--navy);
    color: var(--offwhite);
    margin-top: 30px; /* adds 30px all aroung 'contact me' */
}

/* aligns all headings in the center */
.center {
    text-align: center;
    padding: var(--space-around);
}

/* NAVIGATION BAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--navy);
    color: var(--offwhite);  
}

.logo {
    height: 80px;
    margin: 10px var(--space-around);
    background-color: var(--offwhite); 
    border-radius: 50%;
}

.navbar-links menu {
    display: flex;
}

.navbar-links li {
    list-style: none;
}

.navbar-links li a {
    text-decoration: none;
    color: var(--offwhite);
    padding: 30px;
    display: block;
}

.navbar-links li a:hover {
    background-color: var(--offwhite);
    color: var(--navy);
}

.menu-button {
    position: absolute;
    top: 35px;
    right: var(--space-around);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 30px;
}

.menu-button .bar {
    height: 3px;
    width: 100%;
    background-color: var(--offwhite);
    border-radius: 10px;
}

@media screen and (max-width: 768px) {
    .menu-button {
        display: flex;
    }

    .navbar-links {
        display: none; 
        width: 100%;
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
    }

    .navbar-links menu {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
    }

    .navbar-links li a {
        padding: var(--space-around);
    }

    .navbar-links.active {
        display: flex;
    }
}

/* SIGNATURE PHOTO */
.responsive-sig {
    margin-top: var(--space-around);
    margin-bottom: var(--space-around);
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    width: 50%;
}

/* ABOUT ME */
#aboutme {
    margin: 50px;
}

#profile {
    width: 350px;
    border-radius: 100%;
    margin-left: 20px; /* i want this to be centered on the page*/
    
}
.columns {
    float: left;
    text-align: center;
    width: 50%;
    padding: 12px;
}

.rows::after {
    content: "";
    display: table;
    clear: both;
}

@media  screen and (max-width: 768px) {
    .columns {
        width: 100%;
    }

    #profile {
        margin-right: 50px;
        margin-left: 50px;
        margin-bottom: 10px;
    }
}

/* MY WORK */
.worksection {
    display: flex; /* element is a block-level flex container */
    flex-wrap: wrap; /* elements follow the block to the right if there is space */
    margin-top: 2%;
    text-align: center; 
}

.mywork {
    flex: 1 0 0;
    padding: var(--space-around);   
}

/* style of work headers */
.mywork header {
    padding: var(--space-around); /* 20px padding around all sides*/
    background: var(--navy); /* color of background */
    color: var(--offwhite); /* color of text */
    border-radius: var(--space-around) var(--space-around) 0 0; /* borders rounded on bottom corners */
}

/* style of work images */
.mywork img {
    width: 100%;
    min-width: 300px;
    opacity: 0.5; /* opacity displayed over image */
    border-radius: 0 0 var(--space-around) var(--space-around); /* borders rounded on bottom corners */
    
}

/* style when img hovering */
.mywork img:hover {
    opacity: 1.0; /* opacity is cancelled out */
}

/* CONTACT ME */
.contactme menu li {
    list-style: none; /* removing bullets from list */
    display: inline-block; /* Displays an element as an inline-level block container */
}

/* styling anchors */
.contactme menu li a {
    text-decoration: none; /* remove underlines */
    color: var(--offwhite); /* change color of text */
    padding: var(--space-around); /* 20px padding all around */
    margin: var(--space-around); /* 20px margin all around */
    display: block; /* block element starts on a new line, and takes up the whole width */
}

/* style changes when hover over anchors */
.contactme menu li a:hover {
    background-color: var(--offwhite); /* change color of background */
    color: var(--navy); /* change color of text */
}

@media screen and (max-width: 768px) {
    .contactme {
        flex-direction: column;
        align-items: flex-start;
    }

    .contactme menu {
        width: 100%;
        flex-direction: column;
    }

    .contactme li {
        text-align: center;
    }

    .contactme.active {
        display: flex;
    }
}












