/* using universal selector to apply consistent attributes */
* {
    font-family: Arial, Helvetica, sans-serif;
}

/* using :root selector to declare global variables */
:root {
    --greenish: #607070;
    --offwhite: #f6f6f6;
    --mauve: #7d6e6f;
    --space-around: 20px;
}

/* FOOTER: contact me section */
footer {
    background-color: var(--greenish);
    color: var(--offwhite);
    margin-top: 30px; /* adds 30px all around 'contact me' */
}

/* aligns all headings in the center */
.center {
    text-align: center;
    padding: var(--space-around);
}

/* NAVIGATION BAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--greenish);
    color: var(--offwhite);  
}

/* position and style of logo */
.logo {
    height: 80px;
    margin: 10px var(--space-around);
    background-color: var(--offwhite); 
    border-radius: 50%;
}

.links menu {
    display: flex;
}

/* style of links */
.links li {
    list-style: none;
}

.links li a {
    text-decoration: none;
    color: var(--offwhite);
    padding: 30px;
    display: block;
}

/* when you hover over links style changes */
.links li a:hover {
    background-color: var(--offwhite);
    color: var(--greenish);
}

/* position of hamburger menu */
.hamburger-menu {
    position: absolute;
    top: 35px;
    right: var(--space-around);
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 50px;
    height: 30px;
}

/* style of hamburger menu */
.hamburger-menu .bar {
    height: 3px;
    width: 100%;
    background-color: var(--offwhite);
    border-radius: 10px;
}

/* When the max width is 768px - hamburger menu displays */
@media screen and (max-width: 768px) {
    .hamburger-menu {
        display: flex;
    }

    .links { 
        display: none; /* links disappear */
        width: 100%;
    }

/* When the max width is 768px - links display in column */
    .navbar {
        flex-direction: column; 
        align-items: flex-start;
    }

    .links menu {
        width: 100%;
        flex-direction: column;
    }

    .links li {
        text-align: center;
    }

    .links li a {
        padding: var(--space-around);
    }

    .links.active {
        display: flex;
    }
}

/* SIGNATURE PHOTO */
.responsive-sig {
    margin: var(--space-around) auto;
    text-align: center;
    display: block;
    width: 50%;
}

/* ABOUT ME */
.about-row {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: var(--space-around) 0;
    line-height: 20px;
}

.column img {
    margin-right: var(--space-around);
}

.column img {
    width: 300px;
}

/* When the max width is 768px - change direction of .about-row and margins of .column img */
@media screen and (max-width: 768px) {
    .about-row {
        flex-direction: column;
    }

    .column img {
        margin-right: none;
        margin-bottom: var(--space-around);
    }
}

/* When the width is between 1801px and 1920px - change padding of .about-row */
@media screen and (max-width: 1920px) and (min-width: 1801px) {
    .about-row {
        padding-left: 300px;
        padding-right: 300px;
    }
}

/* When the width is between 1701px and 1800px - change padding of .about-row */
@media screen and (max-width: 1800px) and (min-width: 1701px) {
    .about-row {
        padding-left: 150px;
        padding-right: 150px;
    }
}

/* When the width is between 966px and 1700px - change padding of .about-row */
@media screen and (max-width: 1700px) and (min-width: 966px) {
    .about-row {
        padding-left: 100px;
        padding-right: 100px;
    }
}

/* When the max width is 965px - change change padding of .about-row */
@media screen and (max-width: 965px) {
    .about-row {
        padding-left: 50px;
        padding-right: 50px;
    }
}


/* MY WORK */
/* this selector controls only the flex for "my favorite musician" section */
.work-container {
display: block;
width: 100%;
}

.most-recent {
    display: flex;
    text-align: center; 
}

/* this selector controls only the flex for "spot the difference" and "horiseon" sections */
.other-work {
    display: flex; /* element is a block-level flex container */
    flex-wrap: wrap; /* elements follow the block to the right if there is space */
    text-align: center; 
}

.mywork {
    flex: 1 0 0;
    padding: 10px; /* padding in between work frames */  
}

/* style of work headers */
.mywork header {
    padding: var(--space-around); /* 20px padding around all sides*/
    background: var(--mauve); /* color of background */
    color: var(--offwhite); /* color of text */
    border-radius: var(--space-around) var(--space-around) 0 0; /* borders rounded on bottom corners */
}

/* style of work images */
.mywork img {
    width: 100%;
    min-width: 300px;
    opacity: 0.5; /* opacity displayed over image */
    border-radius: 0 0 var(--space-around) var(--space-around); /* borders rounded on bottom corners */
}

/* style when img hovering */
.mywork img:hover {
    opacity: 1.0; /* opacity is cancelled out */
}

/* CONTACT ME */
.contactme menu li {
    list-style: none; /* removing bullets from list */
    display: inline-block; /* Displays an element as an inline-level block container */
}

/* styling anchors */
.contactme menu li a {
    text-decoration: none; /* remove underlines */
    color: var(--offwhite); /* change color of text */
    padding: var(--space-around); /* 20px padding all around */
    margin-top: var(--space-around);/* 20px margin all around */
    display: flex; /* block element starts on a new line, and takes up the whole width */
}

/* style changes when hover over anchors */
.contactme menu li a:hover {
    background-color: var(--offwhite); /* change color of background */
    color: var(--greenish); /* change color of text */
}



/* When the width is between 1801px and 1920px - change padding of .about-row */
@media screen and (max-width: 1920px) and (min-width: 1801px) {
    .work-container {
        padding-left: 300px;
        padding-right: 300px;
    }
}

/* When the width is between 1701px and 1800px - change padding of .about-row */
@media screen and (max-width: 1800px) and (min-width: 1701px) {
    .work-container{
        padding-left: 150px;
        padding-right: 150px;
    }
}

/* When the width is between 966px and 1700px - change padding of .about-row */
@media screen and (max-width: 1700px) and (min-width: 966px) {
    .work-container {
        padding-left: 100px;
        padding-right: 100px;
    }
}

/* When the max width is 965px - change change padding of .about-row */
@media screen and (max-width: 965px) {
    .work-container {
        padding-left: 50px;
        padding-right: 50px;
    }
}







